$ru-nero: #fff;
$ru-kabul: #62463b;
$ru-blue: #00e;
$ru-black: #000;
$ru-fun-green: #ff7a31;
$ru-silver-chalice: #a6a6a6;
$ru-masala: #464543;
$ru-sunset-orange: #f54141;
$ru-ship-gray: #3e3e40;
$ru-tundora: #444;
$ru-polar: #eff7fb;
$ru-aqua-haze: #e7edf2;
$ru-mine-shaft: #333131;
$ru-concrete: #f2f2f2;
$ru-carnation: #f56c65;
$ru-black-70: rgba(0, 0, 0, 0.7);
$ru-aqua-deep: #ff5046;
$ru-caribbean-green: #ffd170;
$ru-casablanca: #f7bb50;
$ru-mercury: #e6e6e6;
$ru-peach-orange: #fcc595;
$ru-marzipan: #f7d88b;
$ru-rob-roy: #eac268;
$ru-golden-sand: #f4cf7a;
$ru-sandy-brown: #f49e73;
$ru-apricot: #ea8962;
$ru-apricot: #ef9067;
$ru-froly: #f27281;
$ru-jade: #ffc259;
$ru-tango: #ed732f;
$ru-caribbean-green: #ffe48d;
$ru-persian-green: #00b692;
$ru-blue-stone: #ff5f6b;
$ru-bright-sun: #feda44;
$ru-japanese-laurel: #f91;
$ru-kaitoke-green: #ff5023;
$ru-monza: #d80029;
$ru-caribbean-green: #ffeaa7;
$ru-feijoa: #a0d468;
$ru-athens-gray: #e6e9ed;
$ru-yellow-green: #b4dd7f;
$ru-malachite: #ffc729;
$ru-gallery: #ececec;
$ru-mine-shaft: #2e2e2e;
$ru-dove-gray: #666;
$ru-fun-green: #ff7043;
$ru-alto: #dfdfdf;
$ru-fun-green: #ff6a39;
$ru-amethyst: #a74ebd;
$ru-alabaster: #f9f9f9;
$ru-pistachio: #94b709;
$ru-seashell: #f1f1f1;
$ru-fun-green: #ff8538;
$ru-cod-gray: #1b1a1a;
$ru-alto: #d6d6d6;
$ru-morocco-brown: #471d00;
$ru-black-10: rgba(0, 0, 0, 0.1);
$ru-fun-green: #ff6e2b;
$ru-mine-shaft: #333;
$ru-gray: #8c8c8c;
$ru-international-klein-blue: #0023a0;
$ru-japanese-laurel: #ffa000;
$ru-crimson: #ed1c2e;
$ru-sea-buckthorn: #fcb131;
$ru-midnight-blue: #003473;
$ru-tory-blue: #164193;
$ru-mantis: #78c257;
$ru-boulder: #757575;
$ru-ship-cove: #7096c3;
$ru-san-marino: #4d6ca6;
$ru-cerise-red: #d83a52;
$ru-cyan---aqua: #fff6ea;